/*Reset default margins etc*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculatorWrapper {
    border: 2px;
    border-style: solid;
    border-color: black;
    height: 1000px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.Line1, .Line2 {
    flex-grow: 0;
    flex-shrink: 0;
    border: 2px solid black;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Line3, .Line4, .Line5, .Line6, .Line7 {
    display: flex;
}

.InputButton {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    justify-content: center;
    align-items: center;
}